DB_HOST=localhost
DB_PORT=3307
DB_NAME=hr_gestion
DB_USER=hruser
DB_PASSWORD=hrpass

JWT_SECRET=change_this_secret_in_production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

TRAINING_SERVICE_URL=http://localhost:5000
